header{
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: lightblue;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 10px;
}
header .logo{
    flex: 1;
}
header a{
    text-transform: uppercase;
    color: black;
}
header ul li{
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
}
header ul li:hover{
    opacity: 1;
    border: solid;
    color: black;
}

header ul li:hover a{
    opacity: 1;
    color: black;
}
.menu{
    display: none;
}
