.history-page{
    overflow-x: auto;
}
.history-page h2, h4{
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.history-page table{
    margin: auto;
    width: 100%;
}
.history-page .usertabelstyle,.usertabelstyle th,.usertabelstyle tr,.usertabelstyle td{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.usertabelstyle th,.usertabelstyle td{
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
.usertabelstyle a{
    color: rgb(3, 165, 206);
}

.history-page img{
    width: 70px;
    height: 100px;
    object-fit: cover;
}
.k{
    width: 50%;
    height: 40px;
    background-color: lightblue;
    border-color: black;
}
.k  center {
    color: black;
}

.k:hover{
    background-color: black;
    border-color: lightblue;
}
.k:hover center{
    color: lightblue;
   
}

.l{
    margin-bottom: 10px;
}